# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env

# Streamlit
.streamlit/

# IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Operating System files
.DS_Store
Thumbs.db

# PDF files (uncomment if you don't want to track PDFs in your repo)
# *.pdf

# FAISS index files
*.index

# Logs
*.log

# Temporary files
*.tmp

# Jupyter Notebook
.ipynb_checkpoints


# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/